Source: ifupdown-multi
Section: admin
Priority: optional
Maintainer: Robert Edmonds <edmonds@debian.org>
Build-Depends: debhelper-compat (= 13), dh-python, python3
Standards-Version: 4.5.0
Vcs-Git: https://github.com/edmonds/ifupdown-multi.git
Vcs-Browser: https://github.com/edmonds/ifupdown-multi

Package: ifupdown-multi
Architecture: all
Depends: python3:any, ${misc:Depends}, ${python3:Depends}
Enhances: ifupdown
Description: multiple default gateway support for ifupdown
 This package integrates support for multiple default gateways on
 independent network connections into the Debian ifupdown network
 interface configuration system. It adds new "multi_*" options to the
 /etc/network/interface file format in order to more easily configure
 Linux's policy based routing.
 .
 The policy information used to configure each network interface using
 ifupdown-multi is saved when ifup is run. This allows network
 interfaces using ifupdown-multi to be brought up or down cleanly as
 needed.
